@keyframes progressAnim {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.lyc {
  padding-top: 10px;

  .lyc-header {
    background: white;

    padding: 10px;
    box-sizing: border-box;

    .lyc-tool {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .tools {
        display: flex;
        align-items: center;

        .tools-upload-btn {
          position: relative;
        }

        .tools-upload-input {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }

      .ant-btn-text {
        text-decoration: underline;
        color: blue;
      }
    }

    .lyc-audio {
      height: 120px;
      position: relative;

      .lyc-progress {
        width: 100%;
        position: absolute;
        bottom: 0px;

        .lyc-p-w {
          width: 100%;
          height: 2px;
          background: #eee;

          .lyc-p-inner {
            width: 0;
            height: inherit;
            background: blue;

            &.active {
              animation-play-state: running !important;
            }

            &.paused {
              animation-play-state: paused !important;
            }
          }

        }
      }

      .lyc-au-name {
        text-align: center;
      }

      .lyc-wave {
        height: 90px;
      }

      .ant-spin {
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }
  }

  .lyc-auth {
    .lyc-a-item {
      padding: 10px;
      display: flex;
      align-items: center;
      background: white;

      span {
        display: inline-block;
        width: 70px;
      }

      .ant-input {
        width: 200px;
      }
    }
  }

  .lyc-content {
    background: white;
    margin-top: 10px;
    box-sizing: border-box;
    height: calc(100vh - 200px);
    overflow-y: scroll;

    .lyc-item {
      padding: 10px;
      display: flex;
      align-items: center;
      height: 60px;
      overflow: hidden;
      border-bottom: 1px solid #eee;

      &.active {
        background-color: plum;
      }

      .rows {
        width: 40px;
        text-align: center;
        background-color: cornflowerblue;
        cursor: pointer;
      }

      .time {
        width: 140px;
        flex-shrink: 0;
        margin-left: 40px;


        .editCont {
          span {
            user-select: none;
            -webkit-user-select: none;
          }

          .ant-input {
            width: 120px;
          }

        }

      }

      .cont {
        width: 100%;

        .editCont2 {
          span {
            user-select: none;
            -webkit-user-select: none;
          }

          .ant-input {
            width: 100%;
          }
        }
      }

      .operation {
        width: 120px;
        text-align: center;

        .ant-btn-text {
          color: blue;
        }
      }
    }
  }

  // .footer{
  //   margin-top: 10px;
  //   height: 50px;
  //   line-height: 50px;
  //   background-color: white;
  //   text-align: center;
  // }
  .side {
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(620px);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.lycModal {
  .lyc-m-w {
    margin-top: 10px;

    .lycModalText {
      height: 300px;
    }
  }

}